"*":
  core:
    themes: [
      "one-dark-ui"
      "frank-syntax"
    ]
  editor:
    fontFamily: "FuraCode Nerd Font"
  "exception-reporting":
    userId: "53e76cc7-5e3c-4652-9689-7cbe1c4f28fb"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
