// Note: do NOT commit this file unless YOU, and not a script, made changes to it.
// It's meant to be edited via automated script whenever the theme is changed.

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@red: #d81765;
@green: #97d01a;
@light-orange: #38252c;
@orange: #ffa800;
@blue: #16b1fb;
@purple: #ff2491;
@cyan: #0fdcb6;

@background: #171717;
@foreground: #ebebeb;
